version: '3'

services:
  db:
    image: mariadb
    container_name: zoneminder_maridb_containerized
    restart: always
    networks:
      - zoneminder
    volumes:
      - ./zm/db:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=zm
    env_file:
      - ./.env

  zoneminder:
    image: ghcr.io/zoneminder-containers/zoneminder-base:latest
    container_name: zoneminder_containerized
    restart: always
    ports:
      - "${NGINX_EXPOSE_PORT}:80"
    stop_grace_period: 45s
    depends_on:
      - db
    networks:
      - zoneminder
    volumes:
      - ./zm/data:/data
      - ./zm/config:/config
      - ./zm/log:/log
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 1000000000
    env_file:
      - ./.env
#    environment:
#      - ZM_SERVER_HOST=zoneminder1


networks:
  zoneminder:
